<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iqbolaning GitHub Sahifasi</title>
    <link rel="stylesheet" href="iqbola.css">
</head>
<body>
    <header>
        <h1>Salom GitHub from Iqbola 📌</h1>
        <h2>📌 Yashirin sozni topdingiz 👍 📌</h2>
    </header>

    <main>
        <div class="buttons">
            <button class="btn">Tugma 1</button>
            <button class="btn">Tugma 2</button>
            <button class="btn">Tugma 3</button>
        </div>
    </main>

    <footer>
        &copy; 2025 Iqbola. Barcha huquqlar himoyalangan.
    </footer>
</body>
</html>











