<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interaktiv Tugmalar</title>
    <link rel="stylesheet" href="iqbola.css">
</head>
<body>
    <header>
        <h1> GitHub from Iqbola1 📌</h1>
        <h2>📌 Tugmalar Menu sidasiz 👍 📌</h2>
    </header>

    <main>
        <div class="buttons">
            <button class="btn" id="btn1">GitHub</button>
            <button class="btn" id="btn2">Translate</button>
            <button class="btn" id="btn3">YouTube</button>
        </div>

        <div id="links" class="links">
            <!-- Havolalar shu yerda chiqadi -->
        </div>
    </main>

    <footer>
        &copy; 2025 Iqbola. Barcha huquqlar himoyalangan.
    </footer>

    <script src="iqbola.js"></script>
</body>
</html>









